html{
  height: 100%;
  position: relative;;
}


}

body {
  font-family: 'Arvo', serif;
  padding: 2rem;
  font-size: 12px;
}

.form{
  margin-bottom: 3em;
  margin-left: 5.5em;
}

.title{
  padding-top: 0em;
  margin-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  float:left;
  text-align:center;
  width:100%;
}

h1 {
  padding-top: 0em;
  margin-top: -0.2em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  padding-left: 1em;
  margin-left: -1em;
  font-family: 'Chivo', sans-serif;
  font-size: 12vw;
  text-align:center;
}



h2 {
  font-family: 'Arvo', serif;
  padding-left: 1em;
  margin-left: 1.3em;
}

h3 {
  font-family: 'Arvo', serif;
  margin-left: 3em;
}


a{
  text-decoration: none;
}


section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  
}

.arrows {
margin-top: 1em;
display: inline-block;
width:100%;
}


nav a:hover, nav a:focus {
  text-decoration: none;
}

.textlink {
  color: #6CD5FA;
  font-family: 'Arvo', serif;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

.max-width{
  position:relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/


.yes {
  font-family: 'Arvo', serif;
  width:20%;
  float:right;
  letter-spacing: 1em;
  display: inline-block;
  margin-right: 4em;
  margin-left: 6em;
  margin-top: 1em;
  padding: 1em 1em;
  color: black;
  background-color: #D73224;
  border-radius: 4px;
  text-align: middle;
  text-align: center;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  -webkit-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
}

.no {
  font-family: 'Arvo', serif;
  width: 20%;
  letter-spacing: 1em;
  display: inline-block;
  margin-right: 4em;
  margin-top: 1em;
  padding: 1em 1em;
  color: black;
  background-color: #D73224;
  border-radius: 4px;
  text-align: middle;
  text-align: center;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  -webkit-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
}




.button-nav {
  font-family: 'Arvo', serif;
  width: 100%;
  letter-spacing: 1em;
  display: inline-block;
  margin-right: -0.5em;
  margin-top: -1em;
  padding: 1em 1em;
  color: black;
  background-color: #D73224;
  border-radius: 0px;
  text-align: middle;
  text-align: center;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  -webkit-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
}

.button-navB {
  font-family: 'Arvo', serif;
  width: 100%;
  letter-spacing: 1em;
  display: inline-block;
  margin-right: -0.5em;
  margin-top: -0.4em;
  padding: 1em 1em;
  padding-top: -1em;
  color: black;
  background-color: #D73224;
  border-radius: 0px;
  text-align: middle;
  text-align: center;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  -webkit-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
}

.arrows1 {
  font-family: 'Arvo', serif;
  margin-right: -0.5em;
  margin-left: 0.9em;
  padding: 1em 1em;
  color: black;
  background-color: #D73224;
  border-radius: 180px;
  text-align: middle;
  text-align: center;
  width:4.5em;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  -webkit-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
  float:left;
}


.arrows2 {
  font-family: 'Arvo', serif;
  margin-right: 0.9em;
  padding: 1em 1em;
  color: black;
  width: 5em;
  background-color: #D73224;
  border-radius: 180px;
  text-align: middle;
  text-align: center;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  -webkit-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
  float:right;
}


.button-navB:hover, .button-submit:focus {
  background-color: white;
  border-radius: 0;
  background: 0.5;
  color: black;

}

.button-nav:hover, .button-submit:focus {
  background-color: white;
  border-radius: 0;
  background: 0.5;
  color: black;

}

.arrows1:hover, .arrows1:focus {
  background-color: white;
  border-radius: 0;
  background: 0.5;
  color: black;

}

.arrows2:hover, .arrows1:focus {
  background-color: white;
  border-radius: 0;
  background: 0.5;
  color: black;

}

.arrows2:hover, .arrows1:focus {
  background-color: white;
  border-radius: 0;
  background: 0.5;
  color: black;

}

.yes:hover, .arrows1:focus {
  background-color: white;
  border-radius: 0;
  background: 0.5;
  color: black;

}

.no:hover, .arrows1:focus {
  background-color: white;
  border-radius: 0;
  background: 0.5;
  color: black;

}




.button-submit {
  font-family: 'Arvo', serif;
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #6CD5FA;
  border-radius: 0.40em;
  text-decoration: none;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  -webkit-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
}

.button-submit:hover, .button-submit:focus {
  background-color: #f7f7f7;
  color: black;
  border-style: solid;
  border-width: 0.2em;
  border-color: #6CD5FA;
}

*, *::after, *::before {
  box-sizing: border-box;
  t
}
